In [5]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [7]:
stdhyp = pd.read_csv('record.csv')
stdhyp.head()

          ID  Grades  ConsultationsD1  ConsultationsD2  Hrabsence Finalgrades
0  4974728.2      90               13               12       21.0        Pass
1  4938705.2      67                7                6       22.0        Pass
2  4927889.2      70               28               14       12.0        Pass
3  4975219.6      60                7               16       16.0        Pass
4  4927465.4      55               16                5       38.0      Retake

In [8]:
stdhyp.describe()

                 ID     Grades  ConsultationsD1  ConsultationsD2  Hrabsence
count  3.400000e+01  34.000000        34.000000        34.000000  34.000000
mean   4.965529e+06  58.470588         9.441176        10.794118  21.042647
std    1.882537e+04  24.096064         6.592885         5.751308  12.972629
min    4.927320e+06   0.000000         1.000000         1.000000   4.000000
25%    4.973921e+06  48.250000         6.000000         6.000000  12.000000
50%    4.974973e+06  65.500000         9.000000         9.500000  20.000000
75%    4.975294e+06  74.750000        12.000000        15.500000  30.000000
max    4.975357e+06  90.000000        28.000000        25.000000  56.000000

In [9]:
stdhyp['Consultations'] = (stdhyp['ConsultationsD1'] + stdhyp['ConsultationsD2'])

In [14]:
stdhyp1 = stdhyp.drop(['ConsultationsD1', 'ConsultationsD2'], axis='columns')
stdhyp1.head()

          ID  Grades  Hrabsence Finalgrades  Consultations
0  4974728.2      90       21.0        Pass             25
1  4938705.2      67       22.0        Pass             13
2  4927889.2      70       12.0        Pass             42
3  4975219.6      60       16.0        Pass             23
4  4927465.4      55       38.0      Retake             21