#  V 0.3

# to see how num of hours of absance will influence the final grade of students.

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus
import graphviz

In [145]:

stdrecord = pd.read_csv('stdset.csv')
stdrecord.head()

        ID  Grades  Hrabsence Finalgrades  Consultations
0  1913357      90       21.0        Pass             25
1  1899502      67       22.0        Pass             13
2  1895342      70       12.0        Pass             42
3  1913546      60       16.0        Pass             23
4  1895179      55       38.0      Retake             21

# Preparing data for modeling, pre-processing

In [146]:
grade = pd.get_dummies(stdrecord['Finalgrades'])
grade.head()

   Pass  Redo  Retake
0     1     0       0
1     1     0       0
2     1     0       0
3     1     0       0
4     0     0       1

# Using labelEncoder

In [147]:
labgrade = preprocessing.LabelEncoder()
stdrecord.Finalgrades = labgrade.fit_transform(stdrecord.Finalgrades)
stdrecord.Finalgrades.head()

0    0
1    0
2    0
3    0
4    2
Name: Finalgrades, dtype: int32

In [148]:
stdrecords = pd.concat([stdrecord, grade,], axis='columns')
stdrecords.head()

        ID  Grades  Hrabsence  Finalgrades  Consultations  Pass  Redo  Retake
0  1913357      90       21.0            0             25     1     0       0
1  1899502      67       22.0            0             13     1     0       0
2  1895342      70       12.0            0             42     1     0       0
3  1913546      60       16.0            0             23     1     0       0
4  1895179      55       38.0            2             21     0     0       1

In [149]:
cols = ['Grades', 'Hrabsence']
x=stdrecords[cols]
y=stdrecord.Finalgrades

In [150]:
x.head()

   Grades  Hrabsence
0      90       21.0
1      67       22.0
2      70       12.0
3      60       16.0
4      55       38.0

In [151]:
y.head()

0    0
1    0
2    0
3    0
4    2
Name: Finalgrades, dtype: int32

# Splitting Data

In [152]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)
# 70% traning data and 30% test data

# Building decision tree model

In [153]:
dt = DecisionTreeClassifier()

dtfit = dt.fit(x_train, y_train)

In [154]:
y_pred = dtfit.predict(x_test)

In [155]:
print(y_pred)

[0 1 0 0 1 0 0 1 0 1 0]

# Evaluating model

In [156]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9090909090909091

# Visualizing Decision Tree

In [158]:
dot_data = StringIO()
export_graphviz(dtfit, out_file=dot_data, filled=True, rounded=True, special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('grades.png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found

In [159]:
# Optimizing Decision Tree performance