# Feature selection with chi square test

# To see the feature which are use to train our model to predict student grade

In [28]:
import numpy as numpy
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [29]:
featurestd = pd.read_csv('stdhyp1.csv')
featurestd.head(11)

           ID  Grades  Hrabsence Finalgrades  Consultations    Attedance
0   4974728.2      90       21.0        Pass             25  Highasbence
1   4938705.2      67       22.0        Pass             13  Highasbence
2   4927889.2      70       12.0        Pass             42   Lowasbence
3   4975219.6      60       16.0        Pass             23   Lowasbence
4   4927465.4      55       38.0      Retake             21  Highasbence
5   4974585.2      65        8.0        Pass             14   Lowasbence
6   4975289.8      64       20.0        Pass             19   Lowasbence
7   4927634.4      79       20.0        Pass             15   Lowasbence
8   4974853.0      70       20.0        Pass             12   Lowasbence
9   4975224.8      63       14.0        Pass             25   Lowasbence
10  4975354.8      15       32.0        Redo              2  Highasbence

In [30]:
featurestd.Consultations.count()

34

In [40]:
featurestd.loc[(featurestd.Consultations >= 50)]

,ID,Grades,Hrabsence,Finalgrades,Consultations,Attedance,NofVisits
14,4973880.6,79,4.0,Pass,50,Lowasbence,high

In [41]:
featurestd.loc[(featurestd.Consultations >=41) & (featurestd.Consultations <=50), 'NofVisits'] ='high'
featurestd.loc[(featurestd.Consultations >=21) & (featurestd.Consultations <=40), 'NofVisits'] ='medium'
featurestd.loc[(featurestd.Consultations >=1) & (featurestd.Consultations <=20), 'NofVisits'] ='low'

In [42]:
featurestd.head()

,ID,Grades,Hrabsence,Finalgrades,Consultations,Attedance,NofVisits
0,4974728.2,90,21.0,Pass,25,Highasbence,medium
1,4938705.2,67,22.0,Pass,13,Highasbence,low
2,4927889.2,70,12.0,Pass,42,Lowasbence,high
3,4975219.6,60,16.0,Pass,23,Lowasbence,medium
4,4927465.4,55,38.0,Retake,21,Highasbence,medium

In [43]:
featured = featurestd.drop(['Grades', 'Hrabsence', 'Consultations'], axis='columns')

In [44]:
featured.head()

          ID Finalgrades    Attedance NofVisits
0  4974728.2        Pass  Highasbence    medium
1  4938705.2        Pass  Highasbence       low
2  4927889.2        Pass   Lowasbence      high
3  4975219.6        Pass   Lowasbence    medium
4  4927465.4      Retake  Highasbence    medium

In [45]:
featured.NofVisits.unique()

array(['medium', 'low', 'high'], dtype=object)