In [305]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [306]:
stdhyp = pd.read_csv('record.csv')
stdhyp.head()

          ID  Grades  ConsultationsD1  ConsultationsD2  Hrabsence Finalgrades
0  4974728.2      90               13               12       21.0        Pass
1  4938705.2      67                7                6       22.0        Pass
2  4927889.2      70               28               14       12.0        Pass
3  4975219.6      60                7               16       16.0        Pass
4  4927465.4      55               16                5       38.0      Retake

In [307]:
stdhyp.describe()

                 ID     Grades  ConsultationsD1  ConsultationsD2  Hrabsence
count  3.400000e+01  34.000000        34.000000        34.000000  34.000000
mean   4.965529e+06  58.470588         9.441176        10.794118  21.042647
std    1.882537e+04  24.096064         6.592885         5.751308  12.972629
min    4.927320e+06   0.000000         1.000000         1.000000   4.000000
25%    4.973921e+06  48.250000         6.000000         6.000000  12.000000
50%    4.974973e+06  65.500000         9.000000         9.500000  20.000000
75%    4.975294e+06  74.750000        12.000000        15.500000  30.000000
max    4.975357e+06  90.000000        28.000000        25.000000  56.000000

In [308]:
stdhyp['Consultations'] = (stdhyp['ConsultationsD1'] + stdhyp['ConsultationsD2'])

In [320]:
stdhyp1 = stdhyp.drop(['ConsultationsD1', 'ConsultationsD2'], axis='columns')
stdhyp1.head()

          ID  Grades  Hrabsence Finalgrades  Consultations
0  4974728.2      90       21.0        Pass             25
1  4938705.2      67       22.0        Pass             13
2  4927889.2      70       12.0        Pass             42
3  4975219.6      60       16.0        Pass             23
4  4927465.4      55       38.0      Retake             21

In [322]:
stdhyp1.dtypes

ID               float64
Grades             int64
Hrabsence        float64
Finalgrades       object
Consultations      int64
dtype: object

# creating categorical variable for hrasbance

In [329]:
stdhyp1.loc[(stdhyp1.Hrabsence >=41) & (stdhyp1.Hrabsence <= 100), 'Attedance'] ='Extremabsence'
stdhyp1.loc[(stdhyp1.Hrabsence >=21) & (stdhyp1.Hrabsence <= 40), 'Attedance'] = 'Highasbence'
stdhyp1.loc[(stdhyp1.Hrabsence >=1) & (stdhyp1.Hrabsence <= 20), 'Attedance'] = 'Lowasbence'

In [330]:
stdhyp1.head()

          ID  Grades  Hrabsence Finalgrades  Consultations    Attedance
0  4974728.2      90       21.0        Pass             25  Highasbence
1  4938705.2      67       22.0        Pass             13  Highasbence
2  4927889.2      70       12.0        Pass             42   Lowasbence
3  4975219.6      60       16.0        Pass             23   Lowasbence
4  4927465.4      55       38.0      Retake             21  Highasbence

In [331]:
stdhyp1['Attedance'].count()

34

In [333]:
ttest, pval = stats.ttest_rel(stdhyp1['Hrabsence'], stdhyp1['Grades'])
print(pval)

4.787917351497828e-07

In [334]:
ztest, pval1 = stests.ztest(stdhyp1['Hrabsence'], stdhyp1['Grades'])
print(pval1)

1.526062989970757e-15

# chi-square test

In [353]:
contingency_table = pd.crosstab(stdhyp1['Attedance'], stdhyp1['Finalgrades'])
print('contingency_table :', contingency_table)

contingency_table : Finalgrades    Pass  Redo  Retake
Attedance
Extremabsence     0     2       0
Highasbence       7     5       1
Lowasbence       17     2       0

In [354]:
# Observed values
observed_values = contingency_table.values
print('observed value:', observed_values)

observed value: [[ 0  2  0]
 [ 7  5  1]
 [17  2  0]]

In [355]:
exp = stats.chi2_contingency(contingency_table)
Expected_Values = exp[3]
print("expected valus:", Expected_Values)

expected valus: [[ 1.41176471  0.52941176  0.05882353]
 [ 9.17647059  3.44117647  0.38235294]
 [13.41176471  5.02941176  0.55882353]]

In [356]:
no_of_rows=len(contingency_table.iloc[0:2,0])

In [357]:
print(no_of_rows)

2

In [358]:
no_of_columns=len(contingency_table.iloc[0,0:2])

In [359]:
print(no_of_columns)

2

In [360]:
df11=(no_of_rows-1)*(no_of_columns-1)

print("Degree of freedome:",df11)
alpha= 0.05

Degree of freedome: 1

In [361]:
from scipy.stats import chi2
chisqur = sum([(o-e)**2./e for o,e in zip(observed_values, Expected_Values)])
chi_squr_stat = chisqur[0]+chisqur[1]
print("chi-square statistic:",chi_squr_stat)

chi-square statistic: 9.503823661718398

In [362]:
critical_value = chi2.ppf(q=1-alpha, df=df11)
print("critical value:", critical_value)

critical value: 3.841458820694124

In [363]:
# p-value
p_value=1-chi2.cdf(x=chi_squr_stat, df=df11)
print('pvalue:', p_value)

pvalue: 0.002050441671567871

In [364]:
if chi_squr_stat >=critical_value:
    print("Reject H0, There is a relationship btw 2 categorical variables")
else:
    print("Accept H0, there is no relationship btw 2 categorical variables")

Reject H0, There is a relationship btw 2 categorical variables

In [365]:
if p_value <= alpha:
    print("Reject H0, there is a relationship btw 2 categorical variables")
else:
    print("Retain H0, there is no relationship btw 2 categorical variables")

Reject H0, there is a relationship btw 2 categorical variables