#  V 0.3

# to see how num of hours of absance will influence the final grade of students.

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [36]:

stdrecord = pd.read_csv('stdset.csv')
stdrecord.head()

        ID  Grades  Hrabsence Finalgrades  Consultations
0  1913357      90       21.0        Pass             25
1  1899502      67       22.0        Pass             13
2  1895342      70       12.0        Pass             42
3  1913546      60       16.0        Pass             23
4  1895179      55       38.0      Retake             21

# Preparing data for modeling, pre-processing

In [37]:
grade = pd.get_dummies(stdrecord['Finalgrades'])
grade

    Pass  Redo  Retake
0      1     0       0
1      1     0       0
2      1     0       0
3      1     0       0
4      0     0       1
5      1     0       0
6      1     0       0
7      1     0       0
8      1     0       0
9      1     0       0
10     0     1       0
11     1     0       0
12     0     1       0
13     1     0       0
14     1     0       0
15     1     0       0
16     1     0       0
17     0     1       0
18     1     0       0
19     1     0       0
20     1     0       0
21     1     0       0
22     1     0       0
23     0     1       0
24     1     0       0
25     0     1       0
26     1     0       0
27     0     1       0
28     1     0       0
29     0     1       0
30     0     1       0
31     0     1       0
32     1     0       0
33     1     0       0

# Using labelEncoder

In [38]:
labgrade = preprocessing.LabelEncoder()
stdrecord.Finalgrades = labgrade.fit_transform(stdrecord.Finalgrades)
stdrecord.Finalgrades

0     0
1     0
2     0
3     0
4     2
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    1
18    0
19    0
20    0
21    0
22    0
23    1
24    0
25    1
26    0
27    1
28    0
29    1
30    1
31    1
32    0
33    0
Name: Finalgrades, dtype: int32

In [40]:
stdrecords = pd.concat([stdrecord, grade,], axis='columns')
stdrecords

         ID  Grades  Hrabsence  Finalgrades  Consultations  Pass  Redo  Retake
0   1913357      90      21.00            0             25     1     0       0
1   1899502      67      22.00            0             13     1     0       0
2   1895342      70      12.00            0             42     1     0       0
3   1913546      60      16.00            0             23     1     0       0
4   1895179      55      38.00            2             21     0     0       1
5   1913302      65       8.00            0             14     1     0       0
6   1913573      64      20.00            0             19     1     0       0
7   1895244      79      20.00            0             15     1     0       0
8   1913405      70      20.00            0             12     1     0       0
9   1913548      63      14.00            0             25     1     0       0
10  1913598      15      32.00            1              2     0     1       0
11  1913507      60      17.45            0              8     1     0       0
12  1913581      46      12.00            1             15     0     1       0
13  1913575      66      30.00            0             19     1     0       0
14  1913031      79       4.00            0             50     1     0       0
15  1913582      74       8.00            0             15     1     0       0
16  1913586      82      12.00            0             14     1     0       0
17  1913406       0      56.00            1              2     0     1       0
18  1913098      77       6.00            0             27     1     0       0
19  1913036      78      13.00            0             20     1     0       0
20  1913579      74       6.00            0             25     1     0       0
21  1895123      76      30.00            0             33     1     0       0
22  1895317      71      21.00            0             28     1     0       0
23  1913599      27      38.00            1             12     0     1       0
24  1913448      75       6.00            0             31     1     0       0
25  1913543      26      30.00            1             14     0     1       0
26  1913537      88      21.00            0             16     1     0       0
27  1913589      31      30.00            1             12     0     1       0
28  1913078      60      26.00            0             10     1     0       0
29  1913454      41      20.00            1             48     0     1       0
30  1913591      23      30.00            1             20     0     1       0
31  1913099       0      56.00            1             20     0     1       0
32  1913460      71       6.00            0             17     1     0       0
33  1895424      65      14.00            0             21     1     0       0