#  V 0.3

# to see how num of hours of absance will influence the final grade of students.

In [237]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus
import graphviz

In [238]:

stdrecord = pd.read_csv('stdset.csv')
stdrecord.head()

        ID  Grades  Hrabsence Finalgrades  Consultations
0  1913357      90       21.0        Pass             25
1  1899502      67       22.0        Pass             13
2  1895342      70       12.0        Pass             42
3  1913546      60       16.0        Pass             23
4  1895179      55       38.0      Retake             21

# Preparing data for modeling, pre-processing

In [239]:
grade = pd.get_dummies(stdrecord['Finalgrades'])
grade.head()

   Pass  Redo  Retake
0     1     0       0
1     1     0       0
2     1     0       0
3     1     0       0
4     0     0       1

# Using labelEncoder

In [240]:
#labgrade = preprocessing.LabelEncoder()
#stdrecord.Finalgrades = labgrade.fit_transform(stdrecord.Finalgrades)
#stdrecord.Finalgrades.head()

In [241]:
stdrecords = pd.concat([stdrecord, grade,], axis='columns')
stdrecords

         ID  Grades  Hrabsence Finalgrades  Consultations  Pass  Redo  Retake
0   1913357      90      21.00        Pass             25     1     0       0
1   1899502      67      22.00        Pass             13     1     0       0
2   1895342      70      12.00        Pass             42     1     0       0
3   1913546      60      16.00        Pass             23     1     0       0
4   1895179      55      38.00      Retake             21     0     0       1
5   1913302      65       8.00        Pass             14     1     0       0
6   1913573      64      20.00        Pass             19     1     0       0
7   1895244      79      20.00        Pass             15     1     0       0
8   1913405      70      20.00        Pass             12     1     0       0
9   1913548      63      14.00        Pass             25     1     0       0
10  1913598      15      32.00        Redo              2     0     1       0
11  1913507      60      17.45        Pass              8     1     0       0
12  1913581      46      12.00        Redo             15     0     1       0
13  1913575      66      30.00        Pass             19     1     0       0
14  1913031      79       4.00        Pass             50     1     0       0
15  1913582      74       8.00        Pass             15     1     0       0
16  1913586      82      12.00        Pass             14     1     0       0
17  1913406       0      56.00        Redo              2     0     1       0
18  1913098      77       6.00        Pass             27     1     0       0
19  1913036      78      13.00        Pass             20     1     0       0
20  1913579      74       6.00        Pass             25     1     0       0
21  1895123      76      30.00        Pass             33     1     0       0
22  1895317      71      21.00        Pass             28     1     0       0
23  1913599      27      38.00        Redo             12     0     1       0
24  1913448      75       6.00        Pass             31     1     0       0
25  1913543      26      30.00        Redo             14     0     1       0
26  1913537      88      21.00        Pass             16     1     0       0
27  1913589      31      30.00        Redo             12     0     1       0
28  1913078      60      26.00        Pass             10     1     0       0
29  1913454      41      20.00        Redo             48     0     1       0
30  1913591      23      30.00        Redo             20     0     1       0
31  1913099       0      56.00        Redo             20     0     1       0
32  1913460      71       6.00        Pass             17     1     0       0
33  1895424      65      14.00        Pass             21     1     0       0

In [242]:
cols = ['Grades', 'Hrabsence']
x=stdrecords[cols]
y=stdrecord.Finalgrades

In [243]:
x.head()

   Grades  Hrabsence
0      90       21.0
1      67       22.0
2      70       12.0
3      60       16.0
4      55       38.0

In [244]:
y.head()

0      Pass
1      Pass
2      Pass
3      Pass
4    Retake
Name: Finalgrades, dtype: object

# Splitting Data

In [245]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)
# 70% traning data and 30% test data

# Building decision tree model

In [255]:
dt = DecisionTreeClassifier()

dtfit = dt.fit(x_train, y_train)

In [256]:
y_pred = dtfit.predict(x_test)

In [257]:
print(y_pred)

['Pass' 'Redo' 'Pass' 'Pass' 'Redo' 'Pass' 'Pass' 'Redo' 'Pass' 'Redo'
 'Pass']

# Evaluating model

In [258]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9090909090909091

# Confusion Matrix

In [259]:
a = pd.DataFrame(confusion_matrix(y_test, y_pred))
print("confusion Matrix")
print(a)

confusion Matrix
   0  1  2
0  6  0  0
1  0  4  0
2  1  0  0

# classification Report

In [260]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        Pass       0.86      1.00      0.92         6
        Redo       1.00      1.00      1.00         4
      Retake       0.00      0.00      0.00         1

    accuracy                           0.91        11
   macro avg       0.62      0.67      0.64        11
weighted avg       0.83      0.91      0.87        11

C:\Users\bayya\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Visualizing Decision Tree

# Optimizing Decision Tree performance

In [266]:
dtset = DecisionTreeClassifier(criterion="entropy", max_depth=3)

dtset = dtset.fit(x_train, y_train)

y_pred=dtset.predict(x_test)

In [267]:
print("Accuray:", metrics.accuracy_score(y_test, y_pred))

Accuray: 0.9090909090909091

In [268]:
print(y_pred)

['Pass' 'Redo' 'Pass' 'Pass' 'Redo' 'Pass' 'Pass' 'Redo' 'Pass' 'Redo'
 'Pass']

In [269]:
dot_data = StringIO()
export_graphviz(dtset, out_file=dot_data, filled=True, rounded=True, special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

InvocationException: GraphViz's executables not found