In [31]:
import pandas as pd
import numpy as np

In [32]:
std = pd.read_csv('record.csv')
std.head(5)

,ID,Name,Grades,ConsultationsD1,ConsultationsD2,Hrabsence,Finalgrades
0,1913357,"Behal, Harry",90,13,12,21.0,Pass
1,1899502,"Chugh, Gursahib Singh",67,7,6,22.0,Pass
2,1895342,"Davinder Singh, Davinder Singh",70,28,14,12.0,Pass
3,1913546,"Devarapu, Mary Keerthi",60,7,16,16.0,Pass
4,1895179,"Dharam, Naresh",55,16,5,38.0,Retake

In [33]:
std['Name']

0                             Behal, Harry
1                    Chugh, Gursahib Singh
2           Davinder Singh, Davinder Singh
3                   Devarapu, Mary Keerthi
4                           Dharam, Naresh
5           Dilpreet Singh, Dilpreet Singh
6                               Ekta, Ekta
7                      Gill, Dilpreet Kaur
8                            Gopu, Manisha
9                     Gundeti, Gokul Reddy
10        Gurwinder Singh, Gurwinder Singh
11                            Hamza, Ameer
12      Inderpreet Singh, Inderpreet Singh
13        Jobanjeet Singh, Jobanjeet Singh
14                        Kosaraju, Kalyan
15        Kulwinder Singh, Kulwinder Singh
16          Manjinder Kaur, Manjinder Kaur
17    Mankaranjeet Kaur, Mankaranjeet Kaur
18                Manvir Kaur, Manvir Kaur
19             Narravula, Lakshmi Spandana
20          Navpreet Singh, Navpreet Singh
21                       Palakeerthi, Anil
22        Parminder Singh, Parminder Singh
23                 Patel, Laxit Maheshbhai
24                   Patel, Rushi Kanubhai
25                Patel, Utsav Mukeshkumar
26       Prajapati, Riyaben Jagdishchandra
27                 Sandhu, Anmolpreet Kaur
28                  Sarasani, Srujal Reddy
29      Shabadpreet Kaur, Shabadpreet Kaur
30                     Shah, Raj Jitenbhai
31          Simerjeet Kaur, Simerjeet Kaur
32                         Tejpal, Shubham
33                          Thakur, Risabh
Name: Name, dtype: object

# Data Preprocessing for model training

 # Using Label encoder

In [34]:
# Applying label encofing

from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

std['Name'] = label_encoder.fit_transform(std['Name'])

std['Name'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33],
      dtype=int64)

In [35]:
std.columns

Index(['ID', 'Name', 'Grades', 'ConsultationsD1', 'ConsultationsD2',
       'Hrabsence', 'Finalgrades'],
      dtype='object')

In [36]:
std['Finalgrades'] = label_encoder.fit_transform(std['Finalgrades'])

std['Finalgrades'].unique()

array([0, 2, 1], dtype=int64)

In [37]:
std['Finalgrades']

0     0
1     0
2     0
3     0
4     2
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    1
18    0
19    0
20    0
21    0
22    0
23    1
24    0
25    1
26    0
27    1
28    0
29    1
30    1
31    1
32    0
33    0
Name: Finalgrades, dtype: int32

In [38]:
std

,ID,Name,Grades,ConsultationsD1,ConsultationsD2,Hrabsence,Finalgrades
0,1913357,0,90,13,12,21.00,0
1,1899502,1,67,7,6,22.00,0
2,1895342,2,70,28,14,12.00,0
3,1913546,3,60,7,16,16.00,0
4,1895179,4,55,16,5,38.00,2
5,1913302,5,65,8,6,8.00,0
6,1913573,6,64,10,9,20.00,0
7,1895244,7,79,7,8,20.00,0
8,1913405,8,70,6,6,20.00,0
9,1913548,9,63,12,13,14.00,0
10,1913598,10,15,1,1,32.00,1
11,1913507,11,60,1,7,17.45,0
12,1913581,12,46,9,6,12.00,1
13,1913575,13,66,2,17,30.00,0
14,1913031,14,79,25,25,4.00,0
15,1913582,15,74,6,9,8.00,0
16,1913586,16,82,8,6,12.00,0
17,1913406,17,0,1,1,56.00,1
18,1913098,18,77,11,16,6.00,0
19,1913036,19,78,4,16,13.00,0
20,1913579,20,74,12,13,6.00,0
21,1895123,21,76,16,17,30.00,0
22,1895317,22,71,12,16,21.00,0
23,1913599,23,27,6,6,38.00,1
24,1913448,24,75,12,19,6.00,0
25,1913543,25,26,9,5,30.00,1
26,1913537,26,88,7,9,21.00,0
27,1913589,27,31,1,11,30.00,1
28,1913078,28,60,1,9,26.00,0
29,1913454,29,41,24,24,20.00,1
30,1913591,30,23,10,10,30.00,1
31,1913099,31,0,9,11,56.00,1
32,1913460,32,71,9,8,6.00,0
33,1895424,33,65,11,10,14.00,0

In [39]:
std.loc[std.Finalgrades == 1]

,ID,Name,Grades,ConsultationsD1,ConsultationsD2,Hrabsence,Finalgrades
10,1913598,10,15,1,1,32.0,1
12,1913581,12,46,9,6,12.0,1
17,1913406,17,0,1,1,56.0,1
23,1913599,23,27,6,6,38.0,1
25,1913543,25,26,9,5,30.0,1
27,1913589,27,31,1,11,30.0,1
29,1913454,29,41,24,24,20.0,1
30,1913591,30,23,10,10,30.0,1
31,1913099,31,0,9,11,56.0,1

# Using One Hot Encoder

In [68]:
std1= pd.read_csv('record.csv')

std1.head(5)

,ID,Name,Grades,ConsultationsD1,ConsultationsD2,Hrabsence,Finalgrades
0,1913357,"Behal, Harry",90,13,12,21.0,Pass
1,1899502,"Chugh, Gursahib Singh",67,7,6,22.0,Pass
2,1895342,"Davinder Singh, Davinder Singh",70,28,14,12.0,Pass
3,1913546,"Devarapu, Mary Keerthi",60,7,16,16.0,Pass
4,1895179,"Dharam, Naresh",55,16,5,38.0,Retake

In [69]:
pd.get_dummies(std1.Finalgrades)

    Pass  Redo  Retake
0      1     0       0
1      1     0       0
2      1     0       0
3      1     0       0
4      0     0       1
5      1     0       0
6      1     0       0
7      1     0       0
8      1     0       0
9      1     0       0
10     0     1       0
11     1     0       0
12     0     1       0
13     1     0       0
14     1     0       0
15     1     0       0
16     1     0       0
17     0     1       0
18     1     0       0
19     1     0       0
20     1     0       0
21     1     0       0
22     1     0       0
23     0     1       0
24     1     0       0
25     0     1       0
26     1     0       0
27     0     1       0
28     1     0       0
29     0     1       0
30     0     1       0
31     0     1       0
32     1     0       0
33     1     0       0